.form_error{
	font-family:'Kreon', arial, serif;
	font-size:12px;
	text-decoration:none;
	color:#FF0;
	//float:right;
	overflow:visible;
}

/* error message */
.error {
	/* supply height to ensure consistent positioning for every browser */
	height:15px;
	background-color:#FFFE36;
	border:1px solid #E1E16D;
	font-size:11px;
	color:#000;
	padding:3px 10px;
	margin-left:-2px;
	z-index:16000;
	/* CSS3 spicing for mozilla and webkit */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;

	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;
}

.error p{
	margin-top:-3px;
}

.error em {
	display:block;
	width:0;
	height:0;
	border:10px solid;
	border-color:#FFFE36 transparent transparent;
	/* positioning */
	position:absolute;
	bottom:-17px;
	left:60px;
	z-index:15000;
}

/* error container */
#errors {
	background-color:#163356;
	color:#fff;
	width:400px;
	padding:20px;
	margin:5px auto;
	display:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;			
}

/* title */
#errors h2 {
	margin:-5px 0;
	color:yellow;
}

.message{
	width:auto;
	height:auto;
	margin:0 auto;
	left:auto;
	right:auto;
	overflow:auto;
	font-weight:bold;
	text-align:center;
	text-decoration:underline;
	color:#FFFE36;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}
