/* root element for scrollable */
.vertical {  
	
	/* required settings */
	position:relative;
	overflow:hidden;	

	/* vertical scrollers have typically larger height than width */	
	height: 680px;	 
	width: 800px;
	margin:0 auto;
	left:auto;
	right:auto;
	margin-top:30px;
	margin-bottom:20px;
}

/* root element for scrollable items */
.instances {	
	position:absolute;
	/* this time we have very large space for height */	
	height:20000em;	
	margin: 0px;
}

/*.instances div{
	background-image:url(../img/detail_line.png);
	background-repeat:no-repeat;
	background-position:bottom;
}*/

/* single scrollable item */

.inst_nr{
	float:left;
	color:#8b1213;
	margin-top:17px;
	margin-right:5px;
	font-size:25px;
	font-weight:bold;
	font-family:'Architects Daughter', arial, serif;
	position:absolute;
}

.instance {
	width:100%;
	margin:5px;
	padding:15px;
	font-size:12px;
	height:180px;
}



.separate{
	width:95%;
	height:8px;
	overflow:auto;
	margin-left:28px;
	background-image:url(../img/csik.png);
	background-repeat:repeat-x;	
}

/* elements inside single item */
.instance img {
	float:left;
	margin-left:20px;
	margin-right:25px;
	height:165px;
	width:220px;
	border:1px solid #8b1213;
	-moz-box-shadow: 3px 5px 5px #666;
	-webkit-box-shadow: 3px 5px 5px #666;
	box-shadow: 3px 5px 5px #666;
}

.instance h3 {
	margin:0 0 5px 0;
	font-family:'Kreon', arial, serif;
	font-size:18px;
	color:#456;
	font-weight:normal;
	text-decoration:underline;
}

/* the action buttons above the scrollable */
#listing {
	width:700px;
	height:45px;
	margin:auto;
	left:auto;
	right:auto;	
	padding-top:14px;	
}

#listing a {
	font-size:11px;		
	cursor:pointer;
	color:#666;
	text-decoration:none;
}

#listing a:hover {
	text-decoration:none;
	color:#000;
}

.disabled {
	visibility:hidden;		
}

.prev {
	width:20px;
	height:20px;
	background-image:url(../img/arrows.png);
	background-position:20px 38px;
	float:left;
	overflow:auto;
	
}	

.prev:hover {
	background-position:20px 19px;
}

.next {
	width:20px;
	height:20px;
	background-image:url(../img/arrows.png);
	background-position:0px 38px;
	float:right;	
	overflow:auto;
	
}	

.next:hover {
	background-position:0px 19px;
}

.title{
	width:270px;
	height:38px;
	margin:auto;
	left:auto;
	right:auto;
	color:#8b1213;
	font-family:'Kreon', arial, serif;
	font-size:26px;
	font-weight:bold;
	overflow:auto;
	float:left;
	margin-left:240px;	
	margin-top:-4px;
	text-decoration:underline;
}


.instance_sample{
	width:440px;
	height:145px;
	overflow:auto;
	background-color:#ddc6aa;
	padding:10px;
	float:left;	
	-moz-box-shadow: 3px 5px 5px #666;
	-webkit-box-shadow: 3px 5px 5px #666;
	box-shadow: 3px 5px 5px #666;
}

.instance_sample p{
	padding-left:12px;
}

.a{
	width:100%;
	height:85%;
	font-family:'Kreon', arial, serif;
	font-size:13px;
}

.b{
	width:100%;
	height:14%;
	font-family:'Neuton', arial, serif;
	font-size:14px;
}

.b a{
	margin-left:25px;
	font-size:16px;
	color:#456;
	font-weight:normal;
	text-decoration:none;
}

.b a:hover{
	text-decoration:none;
}