/* CSS Document */


form{
	width:auto;
	margin:3em;
	padding:1em;
}

.textfield{
	font-family:'Kreon', arial, serif;
	font-size:14px;
	color:white;
	padding:3px;
	
}

label
{	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
}

fieldset
{	
	width:auto;
	font-family:'Kreon', arial, serif;
	font-size:18px;
	color:#CC1213;
	border: 1px solid white;
	margin:0 auto;
	left:auto;
	right:auto;
	overflow:auto;
	padding:20px;
}


.textfield input
{
	width:150px;
	font-family:'Kreon', arial, serif;
	font-size:13px;
	color: #FFFFFF;
	background-color:#666666;
	border: 1px outset #999999;
	padding:1px;
} 

a:visited {color:#8b1213;}
