/* CSS Document */

#login_window{
	width:100%;
	height:auto;	
}

form{
	width:350px;
	margin:3em;
	padding:1em;
}

.textfield{
	font-family:'Kreon', arial, serif;
	font-size:14px;
	color:white;
	padding:3px;
	
}

label
{
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}

fieldset
{	
	font-family:'Kreon', arial, serif;
	font-size:18px;
	color:#d7b9c9;
	border: 1px solid #781351;
	margin:0 auto;
	left:auto;
	right:auto;
	overflow:auto;
}


.textfield input
{
	font-family:'Kreon', arial, serif;
	font-size:13px;
	color: #FFFFFF;
	background: #ccaf8d;
	border: 2px outset #d7b9c9;
	padding:1px;
} 